<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>

</head>
<body>
<div id="app"> 单选按钮：
  <input type="radio" id="one" value="One" v-model="picked"> <label for="one">One</label>
  <input type="radio" id="two" value="Two" v-model="picked"> <label for="two">Two</label>
  <span>选中的值: {{ picked }}</span></div>
<script>
  new Vue({
    el: '#app',
    data: {
      picked: ''
    }
  })
</script>
</body>
</html>
