<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <todo>
    <todo-title slot="todo-title" title="hello"></todo-title>
    <!--<todo-items slot="todo-items" v-for="(item, index) in todoItems" v-bind:item="item"-->
    <!--v-bind:index="index"></todo-items>-->
    <todo-items slot="todo-items" v-for="(item, index) in todoItems" v-bind:item="item" v-bind:index="index"
                v-on:remove="removeTodoItems(index)"></todo-items>
  </todo>
</div>
<script type="text/javascript">
  // 定义一个待办事项的组件
  Vue.component('todo', {
    template: '<div>\<slot name="todo-title"></slot>\ <ul>\<slot name="todo-items"></slot>\ </ul>\ </div>'
  });
  Vue.component('todo-title', {props: ['title'], template: '<div>{{title}}</div>'});
  Vue.component('todo-items', {props: ['item', 'index'], template: '<li>{{index + 1}}. {{item}}</li>'});
  Vue.component('todo-items', {
    props: ['item', 'index'],
    template: '<li>{{index + 1}}. {{item}} <button @click="remove_component">删除</button></li>',
    methods: {
      remove_component: function (index) {
        // 这里的 remove 是自定义事件的名称，需要在 HTML 中使用 v-on:remove 的 方式指派
        this.$emit('remove', index);
      }
    }
  });
  new Vue({
      el: '#app', data: {
        todoItems: ['524', '245', '2452']
      },
      methods:
        {
          // 该方法可以被模板中自定义事件触发
          removeTodoItems: function (index) {
            console.log("删除 " + this.todoItems[index] + " 成功");
            // splice() 方法向/从数组中添加/删除项目，然后返回被删除的项目 // 其中 index 为添加/删除项目的位置，1 表示删除的数量
            this.todoItems.splice(index, 1);
          }
        }
    }
  )
</script>
</body>
</html>
